<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="/manga-logo.png" alt="Manga World Logo">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item " (click)="toggleDropdown($event)">
          <a class="nav-link " href="explorar" id="navbarDropdown" role="button">
            Explorar
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="random">Random</a>
        </li>
      </ul>

     <!-- Formulario de búsqueda -->
     <div class="search-container position-relative d-flex">
      <input
        class="form-control me-2"
        type="search"
        placeholder="Buscar mangas..."
        [(ngModel)]="searchQuery"
        (input)="onSearch()"
        aria-label="Buscar"
      />
      <button class="btn btn-outline-light" type="submit">Buscar</button>

      <!-- Sugerencias de búsqueda -->
      <div *ngIf="searchResults.length > 0" class="search-suggestions position-absolute w-100">
        <div *ngFor="let result of searchResults" class="suggestion-item" (click)="selectManga(result)">
          <img [src]="result.images.jpg.small_image_url" alt="{{ result.title }}" class="suggestion-image"/>
          <span>{{ result.title }}</span>
        </div>
      </div>
    </div>
      <!-- Botones de usuario -->
      <div class="d-flex ms-3">
        <a *ngIf="!isLoggedIn" href="login" class="btn btn-outline-light me-2">Iniciar Sesión</a>
        <a *ngIf="!isLoggedIn" href="register" class="btn btn-primary">Registro</a>
        <a *ngIf="isLoggedIn" href="#" (click)="logout()" class="btn btn-outline-light me-2">Cerrar sesión</a>
      </div>
    </div>
  </div>
</nav>